<!DOCTYPE html>
<html lang="ko-kr" layout:decorate="~{usr/common/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="로그인"></title>
</head>
<body>
    <main layout:fragment="main">
        <form th:action method="POST">
            <div th:if="${param.error}">
                <span>올바르지 않은 회원이름 또는 비밀번호 입니다.</span>
            </div>
            <div>
                <span>Username</span>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <span>Password</span>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <button type="submit">로그인</button>
            </div>
        </form>
    </main>
</body>
</html>